:root {
	--icon: '🟣';
}

/* TODO upstream? rename? */
.flush {
	border-radius: 0;
}

/* TODO rename? */
.pane-title {
	position: sticky;
	top: 0;
	background-color: var(--bg);
	padding: var(--spacing_xs3) var(--spacing_md);
	font-size: var(--font_size_sm);
	text-align: center;
	text-transform: uppercase;
}
