:root {
	--icon: '🟣';
}

/* TODO upstream to dealt? */
.plain-button {
	--button_color_hover: var(--tint_light_2) !important;
}

.info-icon {
	cursor: help;
	font-size: var(--font_size_xl);
	padding: 0 var(--spacing_xl);
}
